img 
{background-color: #000000;
color: black;
padding: 10px;
border-radius: 50%;
background-position: center;
width: 300px;
height: 300px;}

h1{
	font-size: 30px;
}

span
{margin: 19px;
font-size: 19px;
font-stretch: 2px;}

div > p{
	font-size: 13px;
}
body{
	background-color: lightgreen;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

button{
	background-color: lightgreen;
	border-width: 0;
	padding: 0;
	color: Purple;
	font-size: 20px;
}


.format{
font-family: "Times New Roman", serif;

}

